body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:603px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:603px;
}
#u2 {
  position:absolute;
  left:102px;
  top:100px;
  width:150px;
  height:58px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:58px;
}
#u4 {
  position:absolute;
  left:78px;
  top:190px;
  width:221px;
  height:37px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:37px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:78px;
  top:250px;
  width:156px;
  height:37px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:37px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:138px;
  top:435px;
  width:100px;
  height:100px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u10 {
  position:absolute;
  left:68px;
  top:560px;
  width:240px;
  height:15px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:15px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}

.ax_text {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_h1 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_image {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:center;
  line-height:normal;
}